<%- include('partials/header') %>

<main class="container py-5">
  <h2 class="fw-bold mb-4 text-center">About</h2>
  <p class="text-muted mb-4 text-center">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nesciunt
    adipisci earum veniam, eum, hic modi enim perspiciatis itaque voluptatem
    quia iusto cumque cum omnis commodi qui tempore at saepe.
  </p>

  <div class="text-center">
    <img
      src="../images/classroom.jpg"
      alt="Classroom"
      class="img-fluid mt-3 rounded shadow"
    />
  </div>
</main>

<%- include('partials/footer') %>
